<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard del Administrador</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin_dashboard.css') }}">
</head>
<body>
    <div class="container">
        <h1>Hola Admin</h1>
        <h2>Estos son las huellas de carbono</h2>

        {% if carbon_footprints %}
            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>ID Usuario</th>
                            <th>Fecha de Cálculo</th>
                            <th>Resultado</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for footprint in carbon_footprints %}
                            <tr>
                                <td>{{ footprint.id_usuario }}</td>
                                <td>{{ footprint.fecha_calculo }}</td>
                                <td>{{ footprint.resultado }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <p>No hay registros de huellas de carbono en el sistema.</p>
        {% endif %}

       
    </div>
</body>
</html>
    